# Copy to .env.docker
# PostgreSQL
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=enose
DATABASE_PORT=5432

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# Backend
BACKEND_PORT=8080

# Frontend
FRONTEND_PORT=5173
