PORT=8080                               # Порт API сервера
ENV=development                         # Окружение: development / prod
FRONTEND_URL=http://localhost:3000      # URL фронтенда для CORS
# скопировать в файл .env !!! При необходимости вручную добавить секреты